body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url(../images/intro.jpg) center no-repeat;
    -webkit-backdrop-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    text-align: center;
}

.intro_title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Kaushan Script', cursive;

}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;

    background-color: #fff;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 35px;
    font-weight: 700;

    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: red;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: red;
}

.nav_link:hover:after {
    opacity: 1;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Slider */
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.slider_inner {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    width: 23%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;

    padding: 20px 0;
    border-top: 3px solid #fff;
    opacity: .7;

}

.slider_item.active {
    opacity: 1;
}

/* Section */
.section {
    padding: 80px;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section_title {

    font-size: 30px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: red;
    margin: 40px auto 40px;
}

.section_text {
    color: #000000;
    font-size: 15px;
}

/* About */
.about {
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 30%;
}

.section_test {
    background-color: #f7b9b3f3;
}

/* Section test */
.section_test {
    padding: 50px;
}

/* Section footer */
.section_footer {
    padding: 50px;
}

/* Contacts */
.contacts {
    display: flex;
}

.contact_item {
    flex: 1 1 0;

    padding-left: 90px;
    position: relative;
}

.contacts_icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.scontacts_title {
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;

}
